body{
    background-color: red;
}
#heading{
    padding-bottom:10px;
    padding-top:10px;
    font-size:20px;
}
#output{
    background-color: white;
    border-radius: 10px;
    border-top: 10px solid darkred;
    padding:10px;
    float:none;
    text-align:left;
}
#output{
    padding-bottom:30px;
}
#check{
    margin-left: 590px;
}
#span{
    margin-left: 490px;
}
h2{
    font-size:20px;
}
#no1{
    padding-left: 500px;
}
#no2{
    padding-left: 500px;
}
#r{
    font-size:10px;
}