body{
    background-size:cover;
}
#box{
    background-color:yellow;
    padding-bottom: 20px;
    border-radius:20px;
    width:500px;
    margin-top:40px;
}
#input_1{
    width:450px;
}
#square{
    background-color:orange;
    padding-bottom: 20px;
    border-radius:20px;
    width:500px;
}
#input_2{
    width:450px;
}
h1{
    font-size:20px;;
}
#Heading{
    color:white;
    font-size:40px;
    font-style:serif;
}
#login{
    border-color: black;
    border-width:2px;
}
